<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
    <ion-title>Newsletter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="news-card">
    <img
      *ngIf="shouldShowHero()"
      [src]="heroImage()!"
      [alt]="titleFor()"
      class="hero"
    />

    <ion-card-header>
      <ion-card-title class="title">{{ titleFor() }}</ion-card-title>
      <ion-card-subtitle class="meta" *ngIf="dateFor()">{{ dateFor() }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div
        class="news-body prose"
        *ngIf="htmlContent()"
        [innerHTML]="htmlContent()"
        (click)="handleBodyLinkClick($event)"
      ></div>
    </ion-card-content>
  </ion-card>

  <div class="browser-link-wrap" *ngIf="postUrl()">
    <ion-button class="browser-link-button" expand="block" (click)="openLink(postUrl()!)">
      View in browser
    </ion-button>
  </div>
</ion-content>
