<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>News</ion-title>

    <ion-buttons slot="end">
      <ion-menu-button menu="main"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="get_news(); $event.target.complete()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item button detail="true" *ngFor="let n of news" (click)="view_details(n)">
      <ion-thumbnail slot="start">
        <ion-img
          [src]="thumbFor(n)"
          [alt]="titleFor(n)"
          (ionError)="markImageBroken(n)"
        ></ion-img>
      </ion-thumbnail>

      <ion-label>
        <h2 [innerText]="titleFor(n)"></h2>
        <p class="muted" *ngIf="dateFor(n)">{{ dateFor(n) }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="!globals.api_loading && news.length === 0">
    <ion-label>No posts found.</ion-label>
  </ion-item>

</ion-content>
