<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
    <ion-title>Switch User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="storedAccounts.length > 0" lines="none" class="stored-accounts-header">
    <ion-label class="section-title">Stored Accounts</ion-label>
  </ion-item>

  <ion-list *ngIf="storedAccounts.length > 0" lines="full" class="full-list">
    <ion-item button *ngFor="let a of storedAccounts" (click)="tapStoredAccount(a)">
      <ion-label class="ion-text-wrap">
        <div class="acct-title">{{ accountLabel(a) }}</div>
        <ion-note>{{ a.username }}</ion-note>
      </ion-label>

      <ion-badge *ngIf="(auth.authState() | async)?.activeAccountId === a.id" slot="end">
        Active
      </ion-badge>
    </ion-item>
  </ion-list>

  <div class="section-header">
    <div class="section-title">Log in</div>
  </div>

  <ion-list lines="full" class="full-list">
    <ion-item>
      <ion-label position="stacked">Library card / username</ion-label>
      <ion-input
        [(ngModel)]="username"
        autocomplete="off"
        autocapitalize="off"
        autocorrect="off"
        spellcheck="false"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">PIN / password</ion-label>
      <ion-input
        [(ngModel)]="password"
        type="password"
        autocomplete="off"
        autocapitalize="off"
        autocorrect="off"
        spellcheck="false"
      ></ion-input>
    </ion-item>
  </ion-list>

  <div class="actions">
    <ion-button expand="block" (click)="submitLogin()">Log In</ion-button>
    <ion-button expand="block" fill="clear" (click)="troubleLoggingIn()">Trouble logging in?</ion-button>
  </div>
</ion-content>
