<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding reset-content">
  <div class="reset-card">
    <ng-container *ngIf="!submitted; else submittedState">
      <p class="reset-intro">
        Enter your library card number or username and the email on your account.
        You must have an email associated with your account to reset your password.
      </p>

      <ion-item lines="none" class="reset-item">
        <ion-input
          class="reset-input"
          [(ngModel)]="username"
          label="Username or Card Number"
          labelPlacement="floating"
          fill="outline"
          autocomplete="off"
          autocapitalize="off"
          autocorrect="off"
          spellcheck="false"
          placeholder="Enter username or card number"
        ></ion-input>
      </ion-item>

      <ion-item lines="none" class="reset-item">
        <ion-input
          class="reset-input"
          [(ngModel)]="email"
          type="email"
          inputmode="email"
          label="Email"
          labelPlacement="floating"
          fill="outline"
          autocomplete="email"
          autocapitalize="off"
          autocorrect="off"
          spellcheck="false"
          placeholder="Enter email address"
        ></ion-input>
      </ion-item>

      <p class="reset-note" *ngIf="submitTitle && submitMessage">
        <strong>{{ submitTitle }}:</strong> {{ submitMessage }}
      </p>

      <div class="reset-actions">
        <ion-button expand="block" [disabled]="submitting" (click)="submit()">
          {{ submitting ? 'Submitting...' : 'Reset My Password' }}
        </ion-button>
      </div>
    </ng-container>

    <ng-template #submittedState>
      <h2 class="submitted-title">{{ submitTitle || 'Request Submitted' }}</h2>
      <p class="reset-intro">
        {{ submitMessage }}
      </p>
      <div class="reset-actions">
        <ion-button expand="block" (click)="close()">Close</ion-button>
      </div>
    </ng-template>
  </div>
</ion-content>
