<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Locations</ion-title>

    <ion-buttons slot="end">
      <ion-menu-button menu="main"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="get_locations(); $event.target.complete()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item button *ngFor="let loc of locations" (click)="view_details(loc)" detail="true">
      <ion-thumbnail slot="start">
        <ion-img
          [src]="imageFor(loc)"
          [alt]="loc.fullname"
          (ionError)="markLocationImageBroken(loc)"
        ></ion-img>
      </ion-thumbnail>

      <ion-label>
        <h2>{{ loc.fullname }}</h2>
        <p *ngIf="today_hours(loc) as todayHours" [class.location-today-exception]="isTodayException(loc)">
          {{ todayHours }}
        </p>
        <p *ngIf="addressLine(loc)">{{ addressLine(loc) }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="!globals.api_loading && locations.length === 0">
    <ion-label>No locations found.</ion-label>
  </ion-item>

</ion-content>
