<ion-app>
  <!-- GLOBAL TOP LOADING BAR (visible during normal navigation + modals + XHR) -->
  <div class="global-loading" *ngIf="isLoading$ | async">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>

  <ion-split-pane contentId="main-content" when="lg">
    <!-- RIGHT MENU (main navigation) -->
    <ion-menu contentId="main-content" menuId="main" side="end">
      <ion-header>
        <ion-toolbar>
          <ion-title>Main Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list class="app-menu-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item
              [routerLink]="p.url"
              routerDirection="forward"
              [routerAnimation]="menuRouterAnimation"
              routerLinkActive="selected"
              [routerLinkActiveOptions]="{ exact: p.url === '/home' }"
              lines="none"
            >
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <!-- Main router outlet -->
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
